@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --color-bg-body-tyc: #f7eae5;
    --color-text-body-tyc: #333;
    --color-bg-btn-tyc: #f0d1c4;
    --color-border-btn-tyc: #6b3e0a;
    --color-text-btn-tyc: #462807;
    --color-hover-btn-tyc: #c9802e;
    --color-shadow-btn-hover-tyc: #3b3b3b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg-body);
}

.header {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.h1 {
    color: #2c3e50;
}

.h2 {
    color: #34495e;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.p {
    margin-bottom: 1rem;
}

.section {
    margin-bottom: 2rem;
}

ul {
    margin: 0 0 1rem 2rem;
}

.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.social-link {
    padding-left: 1rem;
}

.icon-link {
    color: var(--color-text-body-tyc);
    font-size: 2rem;
    transition: .3s ease;
}

.icon-link:hover {
    color: var(--color-hover-btn-tyc);
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .h1-tyc {
        font-size: 1.5rem;
    }
    .section-tyc h2 {
        font-size: 1.2rem;
    }
}