.sectionPromociones {
    min-height: calc(100vh - 100px);
    background-color: #909090;
}

/* .containerPromos{
    padding-top: 6rem;
} */

.promocionContainer{
    display: flex;
    justify-content: space-around;
}

.promocionCard{
    background-color: #f5e7e7;
    width: 340px;
    border-radius: 15px;
}

.promocionCardImg{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.promocionCardImg img{
    width: 230px;
    /* max-width: 100%; */
    /* display: block; */
    background-size: cover;
    height: 300px;
    border-radius: 8px;
}

.promocionCardContenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.promocionCardContenido .tituloCard{
    padding-top: 6px;
    font-weight: bold;
}

.promocionCardContenido .descripcion{
    padding-top: 10px;
    max-width: 280px;
}